:root {
    --bg-header-foot: #2C3E50;
    --bg-start-about: #1ABC9C;
    --bg-portofolio: white;
    --bg-location: #3A546D;
    --txt: #2C3E50;
    --txt-white: white;
    --bg-trasparent:#000000;
}

.star{
    width: 100%;
    height: 100%;
}

.line{
    width: 8%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--txt-white);
}

.fa-star{
    font-size: 2rem;
}

/*FONT--AWESOME*/

/* 
    MENU <i class="fa-solid fa-bars"></i>
    STAR <i class="fa-solid fa-star"></i>
    DOWNLOAD <i class="fa-solid fa-download"></i>
    FACEBOOK <i class="fa-brands fa-facebook-f"></i>
    GOOGLE+ <i class="fa-brands fa-google-plus-g"></i>
    TWITTER <i class="fa-brands fa-twitter"></i>
    LINKEDIM <i class="fa-brands fa-linkedin-in"></i>
    COPYRIGHT <i class="fa-regular fa-copyright"></i>
    */

/*--HEADER--*/

#header {
    min-height: 100px;
    background-color: var(--bg-header-foot);
    color: var(--txt-white);
    line-height: 100px;
}

#header .fa-bars{
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--txt-white);
    border-radius: 5px;
}

#header h3{
    color: var(--txt-white);
    font-weight: bold;
    
}

#header .nav{
    --bs-nav-link-color:var(--txt-white);
    font-weight:600;
}

        /*--JUMBOTRON*/

#jumbotron{
    background-color: var(--bg-start-about);
    color: var(--txt-white);
    width: 100%;
    height: 100%;
}

#jumbotron h1{
    font-weight: bold;
}
#jumbotron svg{
    max-width: 60%;
}

#jumbotron .info{
    width: 100%;
}





/*--CONTACT*/

#contact textarea.form-control {
    min-height: calc(10.5em + 0.75rem + 2px)
}

/*--LOCATION--*/




/*--FOOTER--*/

#footer .container {
    min-height: 100px;
}











/*--DEBUG--*/

.bordo-container {
    border: 1px solid black;
    min-height: 100px;
}

.bordo-col {
    border: 3px dashed red;
    min-width: 100px;
}

.bordo-card {
    border: 5px solid yellow;
}




/*--MEDI--QUERY--*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #jumbotron svg{
        max-width:40%;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
#header .container{
    max-width: 992px;
}

    #jumbotron svg{
        max-width:20%;
    }
 }
