:root {
    --bg-header-foot: #2C3E50;
    --bg-start-about: #1ABC9C;
    --bg-portofolio: white;
    --bg-location: #3A546D;
    --txt: #2C3E50;
    --txt-white: white;
    --bg-trasparent:#000000;
}

/*FONT--AWESOME*/

/* 
    MENU <i class="fa-solid fa-bars"></i>
    STAR <i class="fa-solid fa-star"></i>
    DOWNLOAD <i class="fa-solid fa-download"></i>
    FACEBOOK <i class="fa-brands fa-facebook-f"></i>
    GOOGLE+ <i class="fa-brands fa-google-plus-g"></i>
    TWITTER <i class="fa-brands fa-twitter"></i>
    LINKEDIM <i class="fa-brands fa-linkedin-in"></i>
    COPYRIGHT <i class="fa-regular fa-copyright"></i>
    */

/*--HEADER--*/

#header {
    min-height: 100px;
}






/*--LOCATION--*/




/*--FOOTER--*/

#footer .container {
    min-height: 100px;
}











/*--DEBUG--*/

.bordo-container {
    border: 1px solid black;
    min-height: 100px;
}

.bordo-col {
    border: 3px dashed red;
    min-width: 100px;
}

.bordo-card {
    border: 5px solid yellow;
}




/*--MEDI--QUERY--

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
*/